html {
  height: 100%;
}

body {
  background: linear-gradient(120deg, rgb(61, 61, 61), rgb(0,0,0));
  /*background-size: cover;*/
  width: 100%;
  height: 100%;
}

.container {
  text-align: center;
  color: white;
}

.headerImg {
  margin-bottom: 20px;
  border: none;
  width: 70%;
}

.bookClicker {
  padding: 15px 0;
}
